[Unit]
Description=PockeBot_test

[Service]
WorkingDirectory=/home/olive/dev/pockebot
ExecStart=/home/olive/dev/pockebot/env/bin/python main_app.py --config config/test.yml
Restart=always

[Install]
WantedBy=multi-user.target
