[Unit]
Description=PockeBot_test

[Service]
WorkingDirectory=/home/olive/rep/pockebot
ExecStart=/home/olive/rep/pockebot/env/bin/python main_app.py --config config/test_nodebug.yml
Restart=always

[Install]
WantedBy=multi-user.target